
{%- set isVisible = true -%}

{% if isVisible == true -%}

<div 
    class="block"   
    id="block_{{object.in}}"
>
    <div class="subtitle" >{{ object.ui.title }}</div>

    <div class="subBlock">

        {%- set idWidget = "widget_"+object.in -%}
        {%- set idInForm = object.in -%}

        {%- set displayAsPercent = false -%}
        {%- set initValue = object.default -%}
        {%- set maxValue = object.ui.max -%}
        {%- set minValue = object.ui.min -%}
        {%- set unitValue = object.ui.unit -%}
        {% if object.freeAccess -%}
            {%- set maxValue = object.freeAccess["$max"] -%}
            {%- if initValue > maxValue -%} 
                {%- set unitValue = maxValue -%}
            {% endif %}
        {% endif %}

        {% if object.ui.displayAsPercent -%}
            {%- set displayAsPercent = true -%}
            {%- set unitValue = "%" -%}
            {%- set minValue = "0" -%}
            {%- set maxValue = "100" -%}
            {%- set initValue = 100 * object.default / object.ui.max  -%}
        {% endif %}

        <input 
            id="{{idWidget}}"
            type="range" 
            class="rangeSlider" 
            min="{{minValue}}" 
            max="{{maxValue}}" 
            value="{{initValue}}"
            onchange="osais_ai_onRangeSliderChange('{{idWidget}}', '{{idInForm}}', 'rangeSlider_value_{{object.in}}', ('{{displayAsPercent}}'=='True'), {{object.ui.min}}, {{object.ui.max}} );"
            oninput="osais_ai_onRangeSliderChange('{{idWidget}}', '{{idInForm}}', 'rangeSlider_value_{{object.in}}', ('{{displayAsPercent}}'=='True'), {{object.ui.min}}, {{object.ui.max}});"
        >
        <div 
            class="rangeSlider_value"             
        >
            <span id="rangeSlider_value_{{object.in}}">{{initValue}}</span>
            <span>{{unitValue}}</span>
        </div>

    </div>
</div>
{% endif %}
