
<div 
    class="block"
    id="block_{{object.in}}"
>
    <div class="subtitle" >{{ object.ui.title }}</div>

    {%- set initValue = object.default -%}
    {% if object.default == "null" -%}
        {%- set initValue = "" -%}
    {% endif %}

    {%- set placeholder = object.ui.placeholder -%}
    {%- set idInForm = object.in -%}

    <div class="subBlock">

        {%- set idWidget = "widget_"+object.in -%}

        <input 
            id="{{idWidget}}"
            type="text" 
            placeholder="{{placeholder}}" 
            class="wEdit" 
            value="{{initValue}}"
            oninput="osais_ai_onEditChange('{{idWidget}}', '{{idInForm}}');"
        >

    </div>
</div>