
    {% for obj in config_ai.params -%}
        {% if obj.ui -%}
            {% if obj.ui.column == panel -%}

                <!-- Edit widget -->
                {% if obj.ui.widget == "uiEdit" -%}
                    {% with object=obj %}
                        {% include "tpl_widget_edit.html" %}
                    {% endwith %}
                {% endif %}

                <!-- Button widget -->
                {% if obj.ui.widget == "uiMultiToggle" -%}
                    {% with object=obj %}
                        {% include "tpl_widget_multiToggle.html" %}
                    {% endwith %}
                {% endif %}

                <!-- RangeSlider widget -->
                {% if obj.ui.widget == "uiRangeSlider" -%}
                    {% with object=obj %}
                        {% include "tpl_widget_rangeSlider.html" %}
                    {% endwith %}
                {% endif %}

                <!-- Sel Picture widget -->
                {% if obj.ui.widget == "uiSelectPicture" -%}
                    {% with object=obj %}
                        {% include "tpl_widget_selectPicture.html" %}
                    {% endwith %}
                {% endif %}
            {% endif %}

        {% endif %}
    {% endfor %}
