<div class="block">
    <div class="subtitle" >{{ object.ui.title }}</div>

    <div class="subBlock">
        
        <div class="selectPicture">

            <svg stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true" class="svg">
                <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <div style="display: flex; font-size: 0.875rem; color: rgb(113 128 150); margin-top:4px">
                <label for="file-upload" class="caption">
                    <span>Upload a file</span>
                    <input id="file-upload" name="file-upload" type="file" class="upload">
                </label>
                <p class="caption">or drag and drop</p>
            </div>
            
            <div class="footnote">PNG, JPG, GIF up to 2Mb</div>
        </div>
    
    </div>
</div>